<div style="text-align: center">
  <h1>Guessing Game!</h1>
  <%= form_with url: guessing_game_path, method: :post do %>
    <%= label_tag "Guess a number between 1 and 10!" %>
    <%= text_field_tag "guess", nil %> <%# the text field tag name in quotes must equal the instance variable params name, caps and all %>
    <%= submit_tag "Check" %>
  <% end %>
  <br />
  <br />
  <%= link_to "Tidbits List", tidbits_path %>
</div>