<div class="app">
  <h1>Ruby Tidbits!</h1>
  <h3 style="color: darkred">Built with Ruby on Rails by Shujaat Azim</h3>
  <p>
    Choose a Tidbit below!
  </p>
  <h3><%= link_to "Palindrome Checker", palindrome_path, class: "link" %></h3>
  <h3><%= link_to "Guessing Game", guessing_game_path, class: "link" %></h3>
  <h3><%= link_to "Largest Prime Factor", largest_prime_path, class: "link" %></h3>
  <h3><%= link_to "Dice Roll", dice_roll_path, class: "link" %></h3>
  <h3><%= link_to "Coin Flip", coin_flip_path, class: "link" %></h3>
</div>