<% if @answer[:dice_number] == 1 %>
  <div style="text-align: center">
    <%= image_tag @answer[:image] %>
    <h1>You Rolled <%= @answer[:roll] %>!</h1>
    <%= button_to "Roll again!", dice_roll_check_path(dice_number: 1) %>
    <br />
    <%= button_to "Roll Two Dice", dice_roll_check_path(dice_number: 2) %>
    <br />
    <%= link_to "Tidbit List", tidbits_path %>
    <br />
    <br />
    <h2>Explanation:</h2>
  </div>
<% end%>

<% if @answer[:dice_number] == 2 %>
  <div style="text-align: center">
    <%= image_tag @answer[:image1] %><%= image_tag @answer[:image2]%>
    <h1>You Rolled <%= @answer[:roll1] %> and <%= @answer[:roll2] %>!</h1>
    <h2>Your total is <%= @answer[:total] %>!</h2>
    <%= button_to "Roll again!", dice_roll_check_path(dice_number: 2) %>
    <br />
    <%= button_to "Roll One Die", dice_roll_check_path(dice_number: 1) %>
    <br />
    <%= link_to "Tidbit List", tidbits_path %>
    <br />
    <br />
    <h2>Explanation:</h2>
  </div>
<% end %>