<div style="text-align: center">
  <h1><%= @answer %></h1>
  <br />
    <%= form_with url: largest_prime_path, method: :post do %>
    <%= label_tag "Enter another number:" %>
    <%= number_field_tag "number", nil, options = {:required => true, :min => 0} %> <%# the text field tag name in quotes must equal the instance variable params name, caps and all %>
    <%= submit_tag "Try another!" %>
  <% end %>
  <br />
  <br />
  <%= link_to "Tidbits List", tidbits_path %>
  <br />
  <br />
  <h2>Explanation:</h2>
  <p style="margin: 0em 20em 0em 20em ">
    For this tidbit, I created a function that returns the biggest prime factor of a provided number. The user's number is sent as params to the 
    application controller, and is then run through the function. The @answer instance variable is constructed in the controller, and is then sent to
    the view page where it is rendered as an interpolated string. The user is then free to provide another number without needing to go back to the 
    previous view page, thanks to the reusability of the custom rails routes. 
  </p>
</div>